@font-face {
  font-family: 'iconfont';
  src: url('../../../font/font_hu/iconfont.eot');
  src: url('../../../font/font_hu/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../../font/font_hu/iconfont.woff') format('woff'),
  url('../../../font/font_hu/iconfont.ttf') format('truetype'),
  url('../../../font/font_hu/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
*{
		margin: 0;
		padding: 0;
}
a{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hu_banner{
	width: 100%;height: 1.98rem;
	background-image: url(../../../img/index/sousuo/img/a.png);
	background-position: 0 0;
	background-size:100% 100% ;
	position: relative;
}
.hu_btext{
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	position: absolute;
	left: 0;top: 0.9rem;
	text-align: center;
	color: #fff;
	
}
.hu_btext1{
	width: 100%;
	height: auto;
	font-size: 0.1rem;
	position: absolute;
	left: 0;top: 1.2rem;
	text-align: center;
	color: #fff;
	opacity: 0.8;
}

.hu_fanhui{
	width:0.42rem ;height: 0.42rem;
	border-radius:50% ;
	background:#8352dc ;
	position: absolute;
	left: 0.23rem;top:0.6rem ;
	color: #fff;font-size: 0.3rem;
	text-align: center;
	line-height: 0.42rem;
}
.hu_qianjin{
	box-sizing: border-box;
	border:1px solid #46bddb;
	width:0.85rem ;height: 0.42rem;
	border-radius:0.21rem ;
	background:#fff ;
	position: absolute;
	right: 0.23rem;top:0.6rem ;
	color: #fff;font-size: 0.3rem;
	text-align: center;
	line-height: 0.42rem;
	background-image: url(../../../img/index/sousuo/img/jiantou.png);
	background-repeat:no-repeat ;
	background-size:40% 80%;
	background-position: center;
}
.hu_input{
	box-sizing: border-box;
	width: 7.04rem;
	height:0.7rem ;
	background: #fff;
	margin: 0 auto;
	margin-left: 0.23rem;
	margin-right: 0.23rem;
	margin-top: 1.6rem;
	border-radius: 0.15rem;
	border: 0;
	box-shadow: 0 2px 2px #ccc;
	color: #ccc;
	padding-left:0.1rem;
}
#icon{
	display: block;
	position: absolute;
	right: 0.27rem;
	top:1.8rem ;
}
.hu_main{
	overflow: hidden;
	width: 100%;
	height: auto;
	background: #FAFAFA;
	padding: 0 0.23rem;
	box-sizing:border-box;
}


/*01*/
.hu_imgbox1{
	width:100% ;height: 0.93rem;
	background: url(../../../img/index/sousuo/img/1.png);
	margin-top:0.45rem ;
	background-size:100% ;
}
.hu_search{
	width:100% ;height:1.14rem ;
	/*background: red;*/
	margin: 0.25rem auto;
	position: relative;
	overflow: hidden;
}
.hu_search ul{
	width: auto;
	height: 100%;
	position: absolute;
	display: flex;
	list-style: none;
	margin-left: 0;
	cursor: pointer;
}
.hu_search ul li{
	box-sizing: border-box;
	border: 1px solid red;
	margin-right:0.2rem ;
	width: 2.53rem;
	height: 100%;
	border-radius:0.1rem ;
	font-size:0.3rem;
	color: #000;
	text-align: center;
	line-height: 1.14rem;
}
.hu_search ul li{
  background:linear-gradient(90deg,#F758F9 0%,#C070FB 50%,#C070FB 70%,#C070FB);
  color: #fff;
  box-shadow: 0 0.1rem 0.1rem #B1DDFA;
}
 /*01 end*/

/*02*/
.hu_imgbox2{
	width:7.04rem ;height: 0.93rem;
	background: url(../../../img/index/sousuo/img/2.png);
	margin-top:0.45rem;
	background-size:80%;
	background-position: 0 -0.1rem;
	background-repeat:no-repeat ;
}
.hu_k5{
	width: 100%;height: 1.94rem;
	margin-top: 0.3rem;
	margin-left:0.23rem;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}
.hu_k5 li{
	width: 1.75rem;height: 0.66rem;
	border: 0.02rem solid #A53AEC;
	margin-right: 0.33rem;
	border-radius: 0.5rem;
	text-align: center;
	line-height: 0.66rem;
	font-size:0.26rem ;
	color: #3A9EEE;
}
.hu_k5 li span{
	margin-right: 0.2rem;
}

/*02 end*/

/*03*/
.hu_imgbox3{
	background: #fff;
	width:7.04rem ;height: 0.93rem;
	background: url(../../../img/index/sousuo/img/3.png);
	margin-top:0.45rem ;
	background-size:80%;
	background-position: 0 -0.1rem;
	background-repeat:no-repeat ;
}

.swiper-container {
    width: 100%;
    height: 7.04rem;
    margin: 20px auto;
    position: relative;
}
.swiper-slide{
	overflow: hidden;
	position: absolute;
	left: 0;top: 0;
	text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius:0.2rem;
  box-shadow: 1px 1px 3px #ccc;
}
.swiper-slide a:nth-child(1){
	display: block;
	width: 100%;
	height: auto;
}

.swiper-slide a:nth-child(1) img{
	width: 100%;
}
.hu_text{
	margin-left: 0.5rem;
	width: 100%;
	height: 0.6rem;
	text-align: left;
	color: #7826e7;
}
.hu_j5{
	width: 3rem;height: 0.7rem;
	line-height: 1rem;
	margin-left: 0.5rem;
}
.hu_j5 i{
	float: left;
	padding: 0 0.1rem;
}

.hu_dibu{
	width: 100%;
	height: 1.2rem;
	position: relative;
}
.hu_mz{
	position: absolute;
	left: 1.23rem;top:0.4rem;
	color: #ccc;
	font-size: 0.3rem;
}
.hu_tx{
	width:0.5rem ; height: 0.5rem;
	border-radius:50%;
	margin-bottom: 0.5rem;
	position: absolute;
	left: 0.23rem;top: 0;
}
.hu_more{
	display: block;
	width: 0.9rem;
	height: 0.35rem;
	background:linear-gradient(#F758F9 0%,#C070FB 40%,#C070FB 70%,#C070FB);
	position: absolute;
	right: 0.23rem;bottom:0.4rem;
	color: #fff;
	font-size: 0.2rem;
	border-radius:0.17rem ;
}
/*03 end*/

/*04*/
.hu_imgbox4{
	width:7.04rem ;height: 0.93rem;
	background: url(../../../img/index/sousuo/img/4.png);
	margin-top:0.45rem ;
	background-size:80%;
	background-position: 0 -0.1rem;
	background-repeat:no-repeat ;
	margin-top:4rem;
}


.hu_food_title{
	height: 1.05rem;
	border-bottom: 2px solid #dfdfdf;
}
.hu_food_title div:nth-child(1){
	font-size: 0.28rem;
	color: #1f7bf2;
	margin-top: 0.34rem;
	font-weight: bold;
}
.hu_food_title div:nth-child(2){
	font-size: 0.30rem;
	color: #1f7bf2;
	font-weight: 700;
}
.hu_food_con{
	margin: 0 auto;
	width: 6.9rem;
	height: 2.2rem;
	margin-top: 0.25rem;
	box-shadow: 0 0 0.1rem #ccc;
	display: flex;
	padding-bottom: 0.4rem;
}
.hu_person_box{
	width: 1.7rem;
	height: 2.2rem;
	padding: 0.28rem 0;
}
.hu_touxiang{
	margin: auto;
	width: 0.92rem;
	height: 0.92rem;
}
.hu_touxiang img{
	width: 100%;
}
.hu_name{
	margin: auto;
	color: #787676;
	padding-left: 0.3rem;
	font-size: 0.25rem;
	
}
.hu_person_box div:nth-child(1){
	width: 0.08rem;
	height: 1.3rem;
	border-radius: 0.05rem;
	background: #8119ca;
	float: left;
	margin-top: -0.2rem;
	margin-left: 0.05rem;
}
.hu_person_box div:nth-child(1) p{
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 0.05rem;
	background: #8119ca;
	float: left;
	margin-top: 1.35rem;
}
.hu_text_box{
	width: 2.5rem;
	height: 2.2rem;
	padding: 0.3rem 0;
	margin-left: 0.2rem;
	position: relative;
}
.hu_text_box h2{
	font-size: 0.27rem;
	color: #787676;
}
.hu_text_box .hu_img{
	list-style: none;
	float: left;
	margin-top: 0.2rem;
	width: 60%;
	height: 0.62rem;
	position: relative;
	
}
.hu_img li{
	box-sizing: border-box;
	width:0.62rem ;height: 0.62rem;
	border: 3px solid #fff;
	border-radius:50% ;
	box-shadow: 0 0 4px #ccc;
	overflow:hidden;
}

.hu_img li img{
	width: 100%;
	height: 100%;
	float: left;
}
.hu_img li:nth-child(1){
	position: absolute;
	left: 0;top: 0;
}
.hu_img li:nth-child(2){
	position: absolute;
	left: 0.31rem;top: 0;
}
.hu_img li:nth-child(3){
	position: absolute;
	left: 0.62rem;top: 0;
}
.hu_text_box p{
	font-size: 0.21rem;
	color: #7f7e7e;
}
.hu_text_box h3{
	font-size: 0.24rem;
	color: #929292;
}
.hu_text_box span:nth-child(5){
	margin-top: 0.38rem;
	font-size: 0.16rem;
	color: #929292;
	float: right;
}
.hu_text_box span:nth-child(6){
	margin-top: 0.32rem;
	color: #929292;
	font-size: 0.28rem;
	float: right;
}

.hu_shuju_box{
	width: 1.9rem;
	height: 2.2rem;
	margin: 0.3rem 0.2rem;
	
}
.hu_cir{
	width: 2rem;
	height: 0.65rem;
	/*border: 2px solid #d031cc;*/
	border-radius: 50%;
	float: right;
	/*display: none;*/
}
.hu_cir canvas{
	float: right;
}

.hu_shuju_box h3{
	font-size: 0.26rem;
	color: #abaaaa;
	text-align: right;
}
.hu_join{
	margin-top: 0.1rem;
	float: right;
	width: 1.15rem;
	height: 0.45rem;
	background: #a31aef;
	border-radius: 0.5rem;
}
.hu_join a{
	display: block;
	color: #fff;
	font-size: 0.22rem;
	text-align: center;
	line-height: 0.45rem;
}

/*04 end*/

