<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/index/sousuo/search succeed.css" />
		<link rel="stylesheet" href="{CSS_PATH}/index/sousuo/base.css" />
		<script src="{JS_PATH}/index/sousuo/resize.js"></script>
		<script src="{JS_PATH}/index/sousuo/zepto.js"></script>
		<script src="{JS_PATH}/index/sousuo/cir.js"></script>
		<script src="{JS_PATH}/index/sousuo/search9.js"></script>
	</head>
	<body>
		<header>
			<div class="tf_header_top"></div>
			<div class="tf_header_center">
				<a href="javascript:;" class="circle"></a>
				<a href="javascript:;" class="img"></a>
				<a href="javascript:;" class="arrows"></a>
			</div>
			
			<div class="tf_input">
				<input id="byllb" type="text" value="Search for..."/>
				<div class="circle"></div>
				<div class="right">
					<div class="line"></div>
					<a href="index.php?m=index&f=sousuo&a=successs"><div class="sousuo iconfont">&#xe601;</div></a>
				</div>
			</div>
			
			<div class="tf_header_bottom">
				<div class="left"></div>
				<div class="right">
					<span>3650</span>
				</div>
			</div>
		</header>
		
		<div class="tf_recommend">
			<div class="tf_recommend_center">
				<div class="tf_recommend_font">推荐结果</div>
				<div class="tf_recommend_pin"></div>
				<div class="tf_recommend_the"></div>
			</div>
		</div>
		
		<div class="hu_imgbox4">
			<div class="hu_food_con">
				<div class="hu_person_box">
					<div>
						<p></p>
					</div>
					<div class="hu_touxiang">
						<img src="{IMG_PATH}/index/sousuo/imgfei/touxiang.png" alt="" />
					</div>
					<div class="hu_name">
						<p>艾米•格林</p>
						<p>Amy Green</p>
					</div>
				</div>
				
				<div class="hu_text_box">
					<h2>健康身体从吃开始</h2>
					<p>Diet health</p>
					<h3>• 吃出你的魔鬼身材呦</h3>
					<img src="{IMG_PATH}/index/sousuo/imgfei/111.png" alt="" />							
					<span>EX.</span>
					<span>118</span>
				</div>
				
				<div class="hu_shuju_box">
					<div class="hu_cir">
						<canvas></canvas>
						<!--<span>75</span>-->
						
					</div>
					<!--<br>-->
					<h3>• 2017.03.19</h3>
					<div class="hu_join">
						<a href="">JOIN</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="hu_imgbox4">
			<div class="hu_food_con">
				<div class="hu_person_box">
					<div>
						<p></p>
					</div>
					<div class="hu_touxiang">
						<img src="{IMG_PATH}/index/sousuo/imgfei/touxiang.png" alt="" />
					</div>
					<div class="hu_name">
						<p>艾米•格林</p>
						<p>Amy Green</p>
					</div>
				</div>
				
				<div class="hu_text_box">
					<h2>健康身体从吃开始</h2>
					<p>Diet health</p>
					<h3>• 吃出你的魔鬼身材呦</h3>
					<img src="{IMG_PATH}/index/sousuo/imgfei/111.png" alt="" />							
					<span>EX.</span>
					<span>118</span>
				</div>
				
				<div class="hu_shuju_box">
					<div class="hu_cir">
						<canvas></canvas>
						<!--<span>75</span>-->
						
					</div>
					<!--<br>-->
					<h3>• 2017.03.19</h3>
					<div class="hu_join">
						<a href="">JOIN</a>
					</div>
				</div>
			</div>
		</div>
<!--达人推荐-->	
		<div class="tf_dar">
			<div class="drtj"></div>
			<div class="facetravel">
				<div class="left">
					<div class="daren1"></div>
					<div class="daren2"></div>
					<div class="daren3"></div>
					<div class="drwz"></div>
					<div class="xx">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="touxiang"></div>
					<div class="wz"></div>
					<a href="" class="anniu">
						<span>MORE</span>
					</a>
				</div>
				<div class="right">
					<div class="daren4"></div>
					<div class="daren5"></div>
					<div class="daren6"></div>
					<div class="drwz2"></div>
					<div class="xx">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="touxiang2"></div>
					<div class="wz2"></div>
					<a href="" class="anniu">
						<span>MORE</span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="tf_friends">
			<div class="tf_xbk"></div>
		</div>
		
		<div class="tf_daini">
			<div class="tf_centre">
				<div class="tf_dtop">
					<div class="left">
						<img src="{IMG_PATH}/index/sousuo/imgfei/dtouxiang.png" alt="" />
					</div>
					<div class="center">
						<div class="jimtop">
							<span>Jim</span>
							<span>.Green</span>
							<span></span>
							<span></span>
						</div>
						<span class="jimbottom">思念是一种很玄的东西在心底</span>
					</div>
					<div class="right">
						<span></span>
						<span>15</span>
						<span>:20</span>
					</div>
				</div>
				<div class="tf_dcenter">
					<div class="tp"></div>
					<div class="yinyin"></div>
					<div class="yinyin2"></div>
					<div class="ykzm">
						<span>愉快的周末生活</span>
						<span></span>
						<a href=""></a>
					</div>
					<div class="line"></div>
					<div class="hkx">很开心你能来 不遗憾你走开 反正下一个都会来...</div>
				</div>
				<div class="tf_dbottom">
					<div class="center">
						<!--<div class="dzleft">
							<div class="circle"></div>
							<div class="cright">
								<div class="top">
									<span>英国</span>
									<span>•</span>
									<span>伦敦</span>
								</div>
								<div class="bottom">LONDON</div>
							</div>
						</div>-->
						<div class="dzcenter"></div>
						<div class="dzright">
							<a href="" class="xbj1"></a>
							<a href="" class="xbj2"></a>
							<a href="" class="xbj3">
								<div></div>
								<div></div>
								<div></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="tf_recommend2">
			<div class="tf_recommend2_center">
				<div class="tf_recommend2_font">推荐结果</div>
				<div class="tf_recommend2_pin"></div>
			</div>
		</div>
		
		<footer>
			<div class="line"></div>
			<div class="line line2"></div>
			<div class="line white"></div>
			<div class="line3 right"></div>
			<div class="line3 right2"></div>
			<div class="line3 white2"></div>
		</footer>
	</body>
</html>
