<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/index/quan/friend3.css" />
		<script src="{JS_PATH}/index/quan/resize.js"></script>
		<script src="{JS_PATH}/index/quan/zepto.js"></script>
		<script src="{JS_PATH}/index/quan/touch.js"></script>
		<script src="{JS_PATH}/index/quan/world.js"></script>
		
		<script src="{JS_PATH}/index/quan/iscroll-probe(1).js"></script>
	</head>
	<script>
		window.onload=function(){
		var myScroll = new IScroll('.zrl-index-wrap',{
				  click:true,
				  mouseWheel: true,
    			  scrollbars: true,
    			  probeType: 3
			});
		}
	</script>
	<body>
	<div class="zrl-index-wrap">	
		<div class="zrl-index-scroll">	
	<!--header start-->
	<div  class="bg_header">
		<div class="bg_headr_left">
			<div class="idd">IDDIVIDUAL</div>
			<div class="ima">IMAGE.TIME</div>
			<div class="heng"></div>
			<div class="jinquanzi">带你进圈兒</div>
		</div>
		<div class="bg_headr_right">
			<!--<div class="bg_headr_right_duan"></div>
			<div class="bg_headr_right_chang"></div>
			<div class="bg_headr_right_duan"></div>-->
			<a href=""><img src="{IMG_PATH}/index/quan/sandaogang.png" /></a>
		</div>
		<div class="xuanxiangquan">
			<a href="index.php?m=index&f=quan&a=init" class="zrla">
				<div class="xuanxiangquanworld">
					<div class="xuanxiangquanworldtop">世界·圈</div>
					<div class="xuanxiangquanworldbot">WORLDS</div>
				</div>
			</a>
			<a href="index.php?m=index&f=quan&a=friend">
				<div class="xuanxiangquanfriend">好友·圈</div>
			</a>
		</div>

	</div>
	<!--header end-->
	<!--jinquan start-->
	<div class="jianquanbox">
<div class="czl_daini">
			<div class="czl_centre">
				<div class="czl_dtop">
					<div class="left">
						<div class="leftimg"><img src="{IMG_PATH}/index/quan/tou1_03.png"></div>
					</div>
					<div class="center">
						<div class="jimtop">
							<span>Jim.Green</span>
							<span></span>
							<span></span>
						</div>
						<span class="jimbottom">思念是一种很玄的东西在心底</span>
					</div>
					<div class="right">
						<span></span>
						<span>15:20</span>
					</div>
				</div>
				
				<a href="index.php?m=index&f=quan&a=xiangqingye" class="czl_dcenter">
					<div class="tp"></div>
					<div class="yinyin"></div>
					<div class="yinyin2"></div>
					<div class="ykzm">
						<span>愉快的周末生活</span>
						<span></span>
						<!--<a href=""></a>-->
						<span></span>
					</div>
					<div class="line"></div>
					<div class="hkx">很开心你能来 不遗憾你走开 反正下一个都会来...</div>
				</a>
				<div class="czl_dbottom">
					<div class="center">
						<div class="dzleft">
							<div class="alerdy" style="display: block;">
								<div class="circle">+</div>
								<div class="cright">
									添加关注
								</div>
							</div>
							<div class="alerdy1">
								<div class="circle">√</div>
								<div class="cright">
									已经关注
								</div>
							</div>
						</div>
						<div class="dzcenter">
							<div class="circlebox">
								<div><img src="{IMG_PATH}/index/quan/touxiangnv_03.png"></div>
								<div><img src="{IMG_PATH}/index/quan/touxiangnv_03.png"></div>
								<div><img src="{IMG_PATH}/index/quan/touxiangnv_03.png"></div>
							</div>
						</div>
						<div class="dzright">
							<a href="" class="xbj1"></a>
							<a href="" class="xbj2"></a>
							<a href="" class="xbj3">
								<div></div>
								<div></div>
								<div></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="czl_daini">
			<div class="czl_centre">
				<div class="czl_dtop">
					<div class="left">
						<div class="leftimg"><img src="{IMG_PATH}/index/quan/tou1_03.png"></div>
					</div>
					<div class="center">
						<div class="jimtop">
							<span>Jim.Green</span>
							<span></span>
							<span></span>
						</div>
						<span class="jimbottom">思念是一种很玄的东西在心底</span>
					</div>
					<div class="right">
						<span></span>
						<span>15:20</span>
					</div>
				</div>
				
				<a href="index.php?m=index&f=quan&a=xiangqingye" class="czl_dcenter">
					<div class="tp"></div>
					<div class="yinyin"></div>
					<div class="yinyin2"></div>
					<div class="ykzm">
						<span>愉快的周末生活</span>
						<span></span>
						<!--<a href=""></a>-->
						<span></span>
					</div>
					<div class="line"></div>
					<div class="hkx">很开心你能来 不遗憾你走开 反正下一个都会来...</div>
				</a>
				<div class="czl_dbottom">
					<div class="center">
						<div class="dzleft">
							<div class="alerdy" style="display: block;">
								<div class="circle">+</div>
								<div class="cright">
									添加关注
								</div>
							</div>
							<div class="alerdy1">
								<div class="circle">√</div>
								<div class="cright">
									已经关注
								</div>
							</div>
						</div>
						<div class="dzcenter">
							<div class="circlebox">
								<div><img src="{IMG_PATH}/index/quan/touxiangnv_03.png"></div>
								<div><img src="{IMG_PATH}/index/quan/touxiangnv_03.png"></div>
								<div><img src="{IMG_PATH}/index/quan/touxiangnv_03.png"></div>
							</div>
						</div>
						<div class="dzright">
							<a href="" class="xbj1"></a>
							<a href="" class="xbj2"></a>
							<a href="" class="xbj3">
								<div></div>
								<div></div>
								<div></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<a href=""><div class="add"><img src="{IMG_PATH}/index/quan/add_03.png"></div></a>
	</div>
	<!--jinquan end-->
	
{include file="index/footer.html"}