<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/index/quan/wenzi.css" />
		<link rel="stylesheet" href="{CSS_PATH}/base.css" />
		<script src="{JS_PATH}/index/quan/resize.js"></script>
	</head>
	<body>
		<header>
			<div class="top"></div>
			<div class="htitle">
				<a href="index.php?m=index&f=quan&a=xiangqingye"></a>
				<div class="private">评论</div>
				<div class="ndsrjl">COMMENT</div>
			</div>
		</header>
		
		<div class="xrk">
			<form action="">
				<textarea name="" rows="" cols="">看了教练的视频，我了解到了从初学者到合格的瑜伽教练需要系统培训时间是45天</textarea>
				<input type="submit" name="submit" class="submit" value=""/>
			</form>
		</div>
	</body>
</html>
