<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    	<link rel="stylesheet" href="{CSS_PATH}/index/regmore/yundong.css"/>
	</head>
	<body>
		<!--01-->
		<p class="hu_xw">你的运动现状？</p>
		<div class="hu_jc la">零基础</div>
		<p class="hu_p2">很少运动,需要从入门开始,适应运动的节奏</p>
		<!--01 end-->
		
		<!--02-->
		<div class="hu_jc1 la">有经验</div>
		<p class="hu_p2">有运动的习惯,具备一定的运动基础</p>
		<!--02 end-->
		<div class="hu_jc1 la">经验丰富</div>
		<p class="hu_p2">有规律的运动习惯,运动能力突出</p>
		<!--03-->
		<div class="hu_jx">继续</div>
		
	</body>
	<script src="{JS_PATH}/zepto.js"></script>
	<script src="{JS_PATH}/touch.js"></script>
	<script src="{JS_PATH}/index/regmore/regmore3.js"></script>
</html>

