<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    	<link rel="stylesheet" href="{CSS_PATH}/index/regmore/shengao.css"/>
	</head>
	<body>
		<!--01-->
		<p class="hu_xw1">你的身高？</p>
		<p class="hu_nr">Moving 依据身高设计训练内容</p>
		<input type="text" class="hu_input one" value="单位必须为CM"/>
		<!--01 end-->
		
		<!--02-->
		<p class="hu_xw">你的体重？</p>
		<p class="hu_nr">Moving 依据体重设计训练内容</p>
		<input type="text" class="hu_input two" value="单位必须为KG"/>
		<!--02 end-->
		
		<!--03-->
		<div class="hu_jx">继续</div>
		
	</body>
	<script src="{JS_PATH}/zepto.js"></script>
	<script src="{JS_PATH}/touch.js"></script>
	<script src="{JS_PATH}/index/regmore/regmore2.js"></script>
</html>

