<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    	<link rel="stylesheet" href="{CSS_PATH}/index/regmore/xingbie.css" />
	</head>
	<body>
		<!--01-->
		<p class="hu_xw">你的性别？</p>
		<p class="hu_nr">Moving 依据性别设计训练内容</p>
		<ul class="hu_xingbie">
			<li>男</li>
			<li>女</li>
		</ul>
		<!--01 end-->
		
		<!--02-->
		<p class="hu_ny">你的出生年月？</p>
		<p class="hu_nr">仅作用训练推荐的依据，Keep会帮你保密</p>
		<input type="date" class="hu_date"/>
		<!--02 end-->
		
		<!--03-->
		<div class="hu_jx">继续</div>

		
	</body>
	<script src="{JS_PATH}/zepto.js"></script>
	<script src="{JS_PATH}/touch.js"></script>
	
	<script src="{JS_PATH}/index/regmore/regmore1.js"></script>
	<script src="{JS_PATH}/index/regmore/ajax.js"></script>
</html>
