<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/index/kecheng/video show.css" />
		<link rel="stylesheet" href="{CSS_PATH}/index/kecheng/base.css" />
		<script src="{JS_PATH}/index/kecheng/resize.js"></script>
	</head>
	<body>
		<header>
			<div class="top"></div>
			<div class="htitle">
				<a href="index.php?m=index&f=kecheng"></a>
				<a href=""></a>
				<div class="private">PRIVATE COACH</div>
				<div class="ndsrjl">你的私人教练</div>
			</div>
		</header>
<!--私人教练下边视频块-->	
		<div class="tf_sphb">
			<!--<div class="vipk"></div>-->
			
			<video poster="{IMG_PATH}/index/kecheng/shipin.png" width="100%" height="100%" controls style="position:absolute;left:0;top:0; background:#000;">
				<!--<source src="js/q0141yd9oo9.m701.mp4" type="video/mp4">-->
				<!--<source src="www.w3cschool.cc/try/demo_source/mov_bbb.mp4" type="video/mp4">-->
				<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
				<!--<source src="http://www.w3cschool.cc/try/demo_source/mov_bbb.mp4" type="video/mp4">-->-->

				<!--<source src="movie.ogg" type="video/ogg">-->
				 你的浏览器不支持 video 标签。
			</video>
		</div>

<!--积分模块-->
		<div class="tf_chan">
			<div class="nkew">CHAN NKEWANCHENGYU</div>
			<div class="artsta">ARTSTATION</div>
			<div class="xinxin">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="jifen">
				<!--<div>380</div>-->
				<!--<div>积分</div>-->
			</div>
			<div class="anna">
				<div class="left"></div>
				<div class="right">
					<div>ANNA</div>
					<div>PRIVATE COACH</div>
				</div>
			</div>
		</div>
		
<!--选集模块-->
	<div class="tf_hymf">
		<div class="center">
			<div class="topwz">
				运动是一种涉及体力和技巧的由一套规则的或习惯所约束的活动<br>
				通常具有竞争性同看法不同
			</div>
			
			<div class="xxia">
				<div class="xjt">
					<div class="iconfont">&#xe606;</div>
					<div class="iconfont">&#xe606;</div>
				</div>
			</div>
			
			<div class="xuanji">
				<ul>
					<li class="first">
						<a href="">01</a>
						</li>
					<li>
						<a href="">02</a>
						<div></div>
					</li>
					<li>
						<a href="">03</a>
						<div></div>
					</li>
					<li>
						<a href="">04</a>
						<div></div>
					</li>
					<li>
						<a href="">05</a>
						<div></div>
					</li>
					<li>
						<a href="">06</a>
						<div></div>
					</li>
					<li>
						<a href="">07</a>
						<div></div>
					</li>
					<li>
						<a href="">08</a>
						<div></div>
					</li>
					<li>
						<a href="">09</a>
						<div></div>
					</li>
				</ul>
			</div>
			
			<a href="" class="ktvip">
				<div class="dwz">观看视频</div>
				<div class="xwz">Watch Video</div>
			</a>
			
			<div class="xshang">
				<div class="xxia">
					<div class="xjt">
						<div class="iconfont">&#xe607;</div>
						<div class="iconfont">&#xe607;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--评论专区logo-->
	<div class="pl">
		<div>MOVIE GRADE</div>
		<div>评论专区</div>
	</div>
	
	<!--评论模块-->
	<div class="tf_plmk">
		<div class="plmk_jim">
			<div class="top">
				<div class="touxiang">
					<img src="{IMG_PATH}/index/kecheng/touxiang2.png" alt="" />
				</div>
				
				<div class="right">
					<div class="jim">
						<span>Jim</span>
						<span>.Green</span>
					</div>
					<div class="shipin">
						视频非常好，强烈推荐！教练的身材非常的好，演示的也非常细致，大爱呦~
					</div>
				</div>
			</div>
			
			<div class="bottom">
				<div class="left">
					<span></span>
					<span>15</span>
					<span>20</span>
				</div>
				<div class="right">
					<span>（206）</span>
					<span>回复</span>
					<span></span>
					<span>（206）</span>
					<span>有用</span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tf_plmk">
		<div class="plmk_jim">
			<div class="top">
				<div class="touxiang">
					<img src="{IMG_PATH}/index/kecheng/touxiang2.png" alt="" />
				</div>
				
				<div class="right">
					<div class="jim">
						<span>Jim</span>
						<span>.Green</span>
					</div>
					<div class="shipin">
						视频非常好，强烈推荐！教练的身材非常的好，演示的也非常细致，大爱呦~
					</div>
				</div>
			</div>
			
			<div class="bottom">
				<div class="left">
					<span></span>
					<span>15</span>
					<span>20</span>
				</div>
				<div class="right">
					<span>（206）</span>
					<span>回复</span>
					<span></span>
					<span>（206）</span>
					<span>有用</span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tf_plmk">
		<div class="plmk_jim">
			<div class="top">
				<div class="touxiang">
					<img src="{IMG_PATH}/index/kecheng/touxiang2.png" alt="" />
				</div>
				
				<div class="right">
					<div class="jim">
						<span>Jim</span>
						<span>.Green</span>
					</div>
					<div class="shipin">
						视频非常好，强烈推荐！教练的身材非常的好，演示的也非常细致，大爱呦~
					</div>
				</div>
			</div>
			
			<div class="bottom">
				<div class="left">
					<span></span>
					<span>15</span>
					<span>20</span>
				</div>
				<div class="right">
					<span>（206）</span>
					<span>回复</span>
					<span></span>
					<span>（206）</span>
					<span>有用</span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	
<!--底部-->
	<footer>
		<a href="index.php?m=index&f=kecheng&a=pinglun">
		</a>
	</footer>
	</body>
</html>
