<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{CSS_PATH}/index/wode/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{CSS_PATH}/index/wode/public.css" />
		<link rel="stylesheet" href="{CSS_PATH}/index/wode/lzg_fm.css" />
	</head>
	<script src="{JS_PATH}/index/wode/zepto.js"></script>
    <script src="{JS_PATH}/index/wode/swiper.min.js"></script>
    <script src="{JS_PATH}/index/wode/resize.js"></script>
    <script src="{JS_PATH}/index/wode/touch.js"></script>
	</head>

	<body>
		<div class="lzg_box">
			<!--title开始-->
			<div class="lzg_title_box">
				<div class="lzg_anniu_box">
					<div class="lzg_fanhui">
						<a href="index.php?m=index&f=wode">
							<img src="{IMG_PATH}/index/wode/lzg_31fanhui.png"/>
						</a>
					</div>
					<div class="lzg_friend">
						<img src="{IMG_PATH}/index/wode/lzg_31friend.png"/>
					</div>
				</div>
				<div class="lzg_title">
					<img src="{IMG_PATH}/index/wode/lzg_31title.png"/>
				</div>
			</div>
			<!--title 结束-->
			<!--<div class="lzg_haoyou">
				<div class="lzg_xinzeng">
					<img src="img/lzg_xinzeng.png"/>
				</div>
				<div class="lzg_paobu">
					<img src="img/lzg_paobu.png"/>
				</div>
				<div class="lzg_yujia">
					<img src="img/lzg_yujia.png"/>
				</div>
			</div>-->
			
			<!--搜索-->
				<div class="lzg_search">
					<img src="{IMG_PATH}/index/wode/lzg_search.png"/>
				</div>
			<!--搜索结束-->
			
			<!--我的朋友-->
			<div class="lzg_mefriend">
				<img src="{IMG_PATH}/index/wode/lzg_mefriend.png"/>
			</div>
			
			<div class="lzg_friend_name">
				<a href="index.php?m=index&f=wode&a=hemoving" class="lzg_dianji">
					<div class="lzg_touxiang">
						<img src="{IMG_PATH}/index/wode/lzg_4touxiang.png"/>
					</div>
					<div class="lzg_name_box">
						<h5>Jim Green</h5>
						<h6>
							<span></span>
							<b>SH.PUJIANG</b>
						</h6>
					</div>
				</a>	
				<div class="lzg_anniu">
					<span>
						<img src="{IMG_PATH}/index/wode/lzg_dianzan.png" alt="" />
					</span>
					<span href="#" class="lzg_kaiguan">
						<img src="{IMG_PATH}/index/wode/lzg_shanchu.png" class="" />
					</span>
				</div>

			</div>
			
			<div class="lzg_friend_name">
				<a href="index.php?m=index&f=wode&a=hemoving" class="lzg_dianji">
					<div class="lzg_touxiang">
						<img src="{IMG_PATH}/index/wode/lzg_4touxiang.png"/>
					</div>
					<div class="lzg_name_box">
						<h5>Jim Green</h5>
						<h6>
							<span></span>
							<b>SH.PUJIANG</b>
						</h6>
					</div>
				</a>	
				<div class="lzg_anniu">
					<span>
						<img src="{IMG_PATH}/index/wode/lzg_dianzan.png" alt="" />
					</span>
					<span href="#" class="lzg_kaiguan">
						<img src="{IMG_PATH}/index/wode/lzg_shanchu.png" class="" />
					</span>
				</div>

			</div>
			
			<div class="lzg_friend_name">
				<a href="index.php?m=index&f=wode&a=hemoving" class="lzg_dianji">
					<div class="lzg_touxiang">
						<img src="{IMG_PATH}/index/wode/lzg_4touxiang.png"/>
					</div>
					<div class="lzg_name_box">
						<h5>Jim Green</h5>
						<h6>
							<span></span>
							<b>SH.PUJIANG</b>
						</h6>
					</div>
				</a>	
				<div class="lzg_anniu">
					<span>
						<img src="{IMG_PATH}/index/wode/lzg_dianzan.png" alt="" />
					</span>
					<span href="#" class="lzg_kaiguan">
						<img src="{IMG_PATH}/index/wode/lzg_shanchu.png" class="" />
					</span>
				</div>

			</div>
			
			<div class="lzg_friend_name">
				<a href="index.php?m=index&f=wode&a=hemoving" class="lzg_dianji">
					<div class="lzg_touxiang">
						<img src="{IMG_PATH}/index/wode/lzg_4touxiang.png"/>
					</div>
					<div class="lzg_name_box">
						<h5>Jim Green</h5>
						<h6>
							<span></span>
							<b>SH.PUJIANG</b>
						</h6>
					</div>
				</a>	
				<div class="lzg_anniu">
					<span>
						<img src="{IMG_PATH}/index/wode/lzg_dianzan.png" alt="" />
					</span>
					<span href="#" class="lzg_kaiguan">
						<img src="{IMG_PATH}/index/wode/lzg_shanchu.png" class="" />
					</span>
				</div>

			</div>
			
			<div class="lzg_friend_name">
				<a href="index.php?m=index&f=wode&a=hemoving" class="lzg_dianji">
					<div class="lzg_touxiang">
						<img src="{IMG_PATH}/index/wode/lzg_4touxiang.png"/>
					</div>
					<div class="lzg_name_box">
						<h5>Jim Green</h5>
						<h6>
							<span></span>
							<b>SH.PUJIANG</b>
						</h6>
					</div>
				</a>	
				<div class="lzg_anniu">
					<span>
						<img src="{IMG_PATH}/index/wode/lzg_dianzan.png" alt="" />
					</span>
					<span href="#" class="lzg_kaiguan">
						<img src="{IMG_PATH}/index/wode/lzg_shanchu.png" class="" />
					</span>
				</div>

			</div>
			
			
		
			<!--我的朋友结束-->
			
			
			
			
		</div>
		
		
<script>
	window.onload=function(){
			
		touch.on('.lzg_kaiguan img','tap',function(){
			if($(this).attr("src")=="{IMG_PATH}/index/wode/lzg_shanchu.png"){
				$(this).attr("src","{IMG_PATH}/index/wode/lzg_addhy.png");
			}else{
				$(this).attr("src","{IMG_PATH}/index/wode/lzg_shanchu.png")
			}
		})
			
	}
	
</script>
		
		<script src="{JS_PATH}/index/wode/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>