<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<!--		<link href="css/mui.min.css" rel="stylesheet" />-->
		<link rel="stylesheet" href="{CSS_PATH}/index/wode/public.css" />
		<link rel="stylesheet" href="{CSS_PATH}/index/wode/lzg_mymoving.css" />
		<link rel="stylesheet" href="{CSS_PATH}/index/wode/swiper.min.css" />
		<link rel="stylesheet" href="{CSS_PATH}/index/wode/animate.min.css" />
	</head>
	<script src="{JS_PATH}/index/wode/zepto.js"></script>
	<script src="{JS_PATH}/index/wode/resize.js"></script>
    
	<body>
		<div class="lzg_box">
			<div class="lzg_top_box">
				<div class="lzg_top_title">
					<div class="lzg_dianzan">
						<a href="index.php?m=index&f=wode&a=friend">
							<img src="{IMG_PATH}/index/wode/lzg_bfanhui.png"/>
						</a>
						<!--<span>26808</span>-->
					</div>
					<div class="lzg_fenxiang">
						<img src="{IMG_PATH}/index/wode/lzg_fx.png" alt="" />
					</div>
				</div>
				
				<!--头像-->
				<div class="lzg_person_box">
					<div class="lzg_person">
						<img src="{IMG_PATH}/index/wode/lzg_4touxiang.png" alt="" />
						
					</div>
					<div class="lzg_person_name">
							<img src="{IMG_PATH}/index/wode/lzg_any.png"/>
					</div>
					<div class="lzg_huangguan">
						<img src="{IMG_PATH}/index/wode/lzg_hg.png"/>
					</div>
				</div>
				<!--头像结束-->
				
				<!--功能分类-->
				<div class="lzg_cotegory">
					<div class="lzg_haoyou">
						<img src="{IMG_PATH}/index/wode/lzg_haoyou.png"/>
						<span>他的好友</span>
					</div>
					
					<div class="lzg_xunlian">
						<img src="{IMG_PATH}/index/wode/lzg_xunlian.png"/>
						<span>他的训练</span>
					</div>
					<div class="lzg_shangchuan">
						<img src="{IMG_PATH}/index/wode/lzg_shangchuan.png"/>
						<span>他的上传</span>
					</div>
					
				</div>
				<!--功能分类结束-->	
				
				<!--<div class="lzg_zhuangshi">
					<img src="img/lzg_zhuangshi.png"/>
				</div>-->
			</div>
			
			<!--时间轴-->
			<!--<div class="lzg_shijian_box">
				<div class="lzg_shijian_left">
					<div>
						<img src="img/lzg_am.png"/>
					</div>
					<div>
						<img src="img/lzg_pm.png"/>
					</div>
				</div>
				
				<div class="lzg_shijian_cen swiper-container" id="swiper-container2">
					<div class="swiper-wrapper" >
						<div class="swiper-slide lzg_xincir" >
							<img src="img/lzg_dacir.png" class="ani" />
							<img src="img/lzg_xincir.png"/>
							
							<img src="img/lzg_dacir.png" class="ani" />
							<img src="img/lzg_xincir.png"/>
						</div>
					</div>
				</div>
				

				<div class="lzg_shijian_right">
					<img src="img/lzg_duihua1.png" alt="" />
					<img src="img/lzg_duihua2.png" alt="" />
				</div>
			</div>-->
			<!--时间轴结束-->
			
			<!--轮播图-->
			
			<!--<div class="lzg_content_box">
				
				
				<div class="swiper-container" id="swiper-container1">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide">
				        	<img src="img/lzg_lunbo.png"/>
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/lzg_lunbo.png"/>
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/lzg_lunbo.png"/>
				        </div>
				    </div>
				    <div class="swiper-pagination"></div>
				</div>
				
				<div class="lzg_jieshao">
					<img src="img/lzg_jieshao.png" alt="" />
				</div>
			</div>-->
			<!--轮播图结束-->
			<div class="lzg_bot_box">
				<div class="lzg_bot_1">
					<div class="lzg_yonghu">
						<img src="{IMG_PATH}/index/wode/lzg_yonghu.png"/>
					</div>
					<div class="lzg_yonghu_name">
						<img src="{IMG_PATH}/index/wode/lzg_AB.png" alt="" />
						<img src="{IMG_PATH}/index/wode/lzg_huangguan2.png" alt="" />
						<img src="{IMG_PATH}/index/wode/lzg_cn.png"/>
					</div>
					<div class="lzg_yonghu_shijian">
						<img src="{IMG_PATH}/index/wode/lzg_shijian.png" alt="" />
					</div>
				</div>
				<div class="lzg_bot_2">
					<img src="{IMG_PATH}/index/wode/lzg_tupian.png" alt="" />
				</div>
				<div class="lzg_bot_3">
					<img src="{IMG_PATH}/index/wode/lzg_yukuai.png"/>
					<img src="{IMG_PATH}/index/wode/lzg_cot.png"/>
					<img src="{IMG_PATH}/index/wode/lzg_hot.png"/>
					<img src="{IMG_PATH}/index/wode/lzg_meihao.png"/>
				</div>
				<div class="lzg_bot_4">
					<div class="lzg_bot_4_left">
						<img src="{IMG_PATH}/index/wode/lzg_tubiao1.png" alt="" />
					</div>
					<!--<div class="lzg_bot_4_con">
						<img src="img/lzg_tubiao.png"/>
					</div>-->
					<div class="lzg_bot_4_right">
						<img src="{IMG_PATH}/index/wode/lzg_more.png"/>
					</div>
				</div>
			</div>
			
			<div class="lzg_bot_box">
				<div class="lzg_bot_1">
					<div class="lzg_yonghu">
						<img src="{IMG_PATH}/index/wode/lzg_yonghu.png"/>
					</div>
					<div class="lzg_yonghu_name">
						<img src="{IMG_PATH}/index/wode/lzg_AB.png" alt="" />
						<img src="{IMG_PATH}/index/wode/lzg_huangguan2.png" alt="" />
						<img src="{IMG_PATH}/index/wode/lzg_cn.png"/>
					</div>
					<div class="lzg_yonghu_shijian">
						<img src="{IMG_PATH}/index/wode/lzg_shijian.png" alt="" />
					</div>
				</div>
				<div class="lzg_bot_2">
					<img src="{IMG_PATH}/index/wode/lzg_tupian.png" alt="" />
				</div>
				<div class="lzg_bot_3">
					<img src="{IMG_PATH}/index/wode/lzg_yukuai.png"/>
					<img src="{IMG_PATH}/index/wode/lzg_cot.png"/>
					<img src="{IMG_PATH}/index/wode/lzg_hot.png"/>
					<img src="{IMG_PATH}/index/wode/lzg_meihao.png"/>
				</div>
				<div class="lzg_bot_4">
					<div class="lzg_bot_4_left">
						<img src="{IMG_PATH}/index/wode/lzg_tubiao1.png" alt="" />
					</div>
					<!--<div class="lzg_bot_4_con">
						<img src="img/lzg_tubiao.png"/>
					</div>-->
					<div class="lzg_bot_4_right">
						<img src="{IMG_PATH}/index/wode/lzg_more.png"/>
					</div>
				</div>
			</div>
			<div class="lzg_moreme">
				<a href="">
					<span>还想更多的了解我吗？</span>
					<span>Do you want to know MORE about me ?</span>
				</a>
				
			</div>
		</div>

	</body>

</html>