<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css" />
		<link rel="stylesheet" href="{CSS_PATH}/base.css" />
		<link rel="stylesheet" href="{CSS_PATH}/admin/reg.css" />
	</head>
	<body>
		<div class="admin-form">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="widget">
							<div class="widget-header">
								 Register
							</div>
							<div class="widget-content">
								<div class="padd">
									<form action="" class="form-horizontal">
										<div class="form-group">
											<lable class="control-label col-lg-3">Username</lable>
											<div class="col-lg-9">
												<input type="text" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<lable class="control-label col-lg-3">Password</lable>
											<div class="col-lg-9">
												<input type="text" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<lable class="control-label col-lg-3">Email</lable>
											<div class="col-lg-9">
												<input type="text" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<lable class="control-label col-lg-3">Tel</lable>
											<div class="col-lg-9">
												<input type="text" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<lable class="control-label col-lg-3">Love</lable>
											<div class="col-lg-9">
												<select name="" class="form-control">
													<option value="">看书</option>
													<option value="">跑步</option>
													<option value="">打代码</option>
													<option value="">看电影</option>
													<option value="">约会</option>
												</select>
											</div>
										</div>
										<div class="form-group">	
											<div class="col-lg-9 col-lg-offset-3">
												<div class="checkbox">
													<lable>
														<input type="checkbox" />
														<font>
															<font>接受条款和条件</font>
														</font>
													</lable>
												</div>
												<br>
												<input type="submit" class="btn btn-danger" value="Register"/>
												<input type="submit" class="btn btn-success" value="Reset"/>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="widget-footer">Already Registred?<a href="login.html">Login</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
