<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/index/regsucc.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	</head>
	<style>
		.go{
			text-decoration: none;
		}
	</style>
	<body>
		<i class="iconfont" id="hu_cir">&#xe637;</i>
		<p class="hu_p1">完成注册</p>
		<p class="hu_p2">欢迎成为Moving一员</p>
		<p class="hu_p3" >接下来，希望通过几个问题，了解你更多</p>
		<p class="hu_p4">越了解你，越能为你找到合适的训练，祝你实现健身目标</p>
		<div class="hu_jx"><a href="index.php?m=index&f=regmore&a=xingbie" class="go">GO!</a></div>
	</body>
	<script src="{JS_PATH}/zepto.js"></script>
	<script>
	window.onload=function(){
		function size(originwidth){
			var width=document.documentElement.clientHeight;
			var bili=width/originwidth*100+"px";
			$("html").css("font-size",bili);
		}
		size(1334);
	}
	</script>
</html>
