<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>moving</title>
    <link rel="stylesheet" href="{CSS_PATH}/base.css" />
    <link rel="stylesheet" href="{CSS_PATH}/index/siren/siIndex.css" /> 
    
    <script src="{JS_PATH}/touch.js"></script>
    <script src="{JS_PATH}/jquery.min.js"></script>
    <script src="{JS_PATH}/iscroll-probe.js"></script>
    
    <script src="{JS_PATH}/index/siren/resize.js"></script>
    <script src="{JS_PATH}/index/siren/search9.js"></script>
    <script src="{JS_PATH}/cir.js"></script>
   
</head>
<script>
		window.onload=function(){
		var myScroll = new IScroll('.zrl-index-wrap',{
				  mouseWheel: true,
    			  scrollbars: true,
    			  click:true,
    			  probeType: 3
			});
			
		}
</script>
<body>
	<!--banner开始-->
	<div class="zrl-index-wrap">	
		<div class="zrl-index-scroll">
		<div class="hyx-banner">
			<div class="hyx-n">INDIVIDUAL</div>
			<div class="hyx-i">IMAGE.TIME</div>
			<img src="{IMG_PATH}/index/siren/hyxd_06.png" alt="" class="hyximg"/>
			<div class="hyx-s">私人订制</div>
			<div class="hyx-vip">
				<ul class="hyx-left">
					<!--<li><a href="javascript:;">VIP</a></li>-->
					<li><a href="index.php?m=index&f=siren&a=jiaolian">教练选择</a></li>
					<li><a href="index.php?m=index&f=siren&a=xunlian">训练计划</a></li>
				</ul>
				<div class="hyx-right">
					<a href=""><img src="{IMG_PATH}/index/siren/hyxyj.png" alt="" /></a>
				</div>
			</div>
		</div>
	<!--banner结束-->
	<!--教练选择开始-->
	<div class="con">
		<div 
			class="hyx-jiaolian">
			<a href="index.php?m=index&f=siren&a=jiaolian"><img src="{IMG_PATH}/index/siren/hyxj_09.png" alt="" /></a>
			<!--<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>-->
		</div>
		<ul  class="hyxImg">
			<li>
				<a href="" class="imgimg">
					<div class="hyx-mv">
						<div class="mv-img">
							<img src="{IMG_PATH}/index/siren/hyx1_05.png" alt="" />
						</div>
						<h3 class="hyx-h3">HOT&THIN</h3>
						<div class="hyx-wu">
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
						</div>
						<div class="hyxDashed">
							<img src="{IMG_PATH}/index/siren/hyxDashed.png" alt="" />
						</div>
						<div class="hyx-l">
							<div class="hyx-love">
								<span></span>
								<span>35895</span>
							</div>
							<div class="hyx-xinxi hyx-love">
								<span></span>
								<span>37648</span>
							</div>
						</div>
						<div class="hyx-btn">
							<div class="btn-left">
								<div class="left-img">
									<img src="{IMG_PATH}/index/siren/hyx-mv.jpg" alt="" />
								</div>
							</div>
							<div class="btn-right">
								<span>{$result['sjiaolian']}</span>
								<img src="{IMG_PATH}/index/siren/hyxhot-5.png" alt="" />
							</div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="" class="imgimg">
					<div class="hyx-mv">
						<div class="mv-img">
							<img src="{UPLOAD_PATH}/timg.jpg" alt="" />
						</div>
						<h3 class="hyx-h3">HOT&THIN</h3>
						<div class="hyx-wu">
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
						</div>
						<div class="hyxDashed">
							<img src="{IMG_PATH}/index/siren/hyxDashed.png" alt="" />
						</div>
						<div class="hyx-l">
							<div class="hyx-love">
								<span></span>
								<span>35895</span>
							</div>
							<div class="hyx-xinxi hyx-love">
								<span></span>
								<span>37648</span>
							</div>
						</div>
						<div class="hyx-btn">
							<div class="btn-left">
								<div class="left-img">
									<img src="{IMG_PATH}/index/siren/hyx-mv.jpg" alt="" />
								</div>
							</div>
							<div class="btn-right">
								<span>{$result1['sjiaolian']}</span>
								<img src="{IMG_PATH}/index/siren/hyxhot-5.png" alt="" />
							</div>
						</div>
					</div>
				</a>
			<li>
				<a href="" class="imgimg">
					<div class="hyx-mv">
						<div class="mv-img">
							<img src="{UPLOAD_PATH}/timg (1).jpg" alt="" />
						</div>
						<h3 class="hyx-h3">HOT&THIN</h3>
						<div class="hyx-wu">
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
						</div>
						<div class="hyxDashed">
							<img src="{IMG_PATH}/index/siren/hyxDashed.png" alt="" />
						</div>
						<div class="hyx-l">
							<div class="hyx-love">
								<span></span>
								<span>35895</span>
							</div>
							<div class="hyx-xinxi hyx-love">
								<span></span>
								<span>37648</span>
							</div>
						</div>
						<div class="hyx-btn">
							<div class="btn-left">
								<div class="left-img">
									<img src="{IMG_PATH}/index/siren/hyx-mv.jpg" alt="" />
								</div>
							</div>
							<div class="btn-right">
								<span>{$result2['sjiaolian']}</span>
								<img src="{IMG_PATH}/index/siren/hyxhot-5.png" alt="" />
							</div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="" class="imgimg">
					<div class="hyx-mv">
						<div class="mv-img">
							<img src="{UPLOAD_PATH}/timg (2).jpg" alt="" />
						</div>
						<h3 class="hyx-h3">HOT&THIN</h3>
						<div class="hyx-wu">
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
								<img src="{IMG_PATH}/index/siren/daren14_11.png" alt="" />
						</div>
						<div class="hyxDashed">
							<img src="{IMG_PATH}/index/siren/hyxDashed.png" alt="" />
						</div>
						<div class="hyx-l">
							<div class="hyx-love">
								<span></span>
								<span>35895</span>
							</div>
							<div class="hyx-xinxi hyx-love">
								<span></span>
								<span>37648</span>
							</div>
						</div>
						<div class="hyx-btn">
							<div class="btn-left">
								<div class="left-img">
									<img src="{IMG_PATH}/index/siren/hyx-mv.jpg" alt="" />
								</div>
							</div>
							<div class="btn-right">
								<span>{$result3['sjiaolian']}</span>
								<img src="{IMG_PATH}/index/siren/hyxhot-5.png" alt="" />
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
		<img src="{IMG_PATH}/index/siren/hyxl_03.png" alt="" class="h-xunlian"/>
	</div>
	<!--教练选择结束-->
	<!--训练计划开始、-->
		<div class="hyx-xunlian">
			<div class="hyx-nei">
				<div class="hyx-tr">TRAIN</div>
				<div class="hyx-cu">CURRICULUM SCHEDULE</div>
				<img src="{IMG_PATH}/index/siren/hyxd_06.png" alt="" class="hyximg hyx-im"/>
				<div class="hyx-xlkcb">训练课程表</div>
				<div class="box-hyx">
					<div class="box-left">
						<div class="hyx-wc">完成<span>70</span>%</div>
						<div class="hyx-pre">
							<div class="hyx-pregress"></div>
						</div>
					</div>
					<div class="box-right"><a href="index.php?m=index&f=siren&a=xunlian">MORE</a></div>
				</div>
			</div>	
		</div>
	<!--训练计划结束-->
	<!--完成任务开始-->
	<div class="hyx-con1">
		<div class="box-con">
			<img src="{IMG_PATH}/index/siren/hyxb_03.png" alt="" class="h-xunlian"/>
			<!--04-->
			<!--<div class="hu_imgbox4"></div>-->
	    	<div class="hu_food">
	
				<div class="hu_food_con">
					
					<div class="hu_person_box">
						<div>
							<p></p>
						</div>
						<div class="hu_touxiang">
							<img src="{IMG_PATH}/index/siren/touxiang.png" alt="" />
						</div>
						<div class="hu_name">
							<p>艾米•格林</p>
							<p>Amy Green</p>
						</div>
					</div>
					
					<div class="hu_text_box">
						<h2>健康身体从吃开始</h2>
						<p>Diet health</p>
						<h3>• 吃出你的魔鬼身材呦</h3>
						<!--<img src="{IMG_PATH}/index/siren/111.png" alt="" />							
						<span>EX.</span>
						<span>118</span>-->
					</div>
					
					<div class="hu_shuju_box">
						<div class="hu_cir">
							<canvas width="57" height="57"></canvas>
						</div>
						<br>
						<h3>• 2017.03.19</h3>
						<!--<div class="hu_join">
							<a href="">JOIN</a>
						</div>-->
					</div>
				</div>
			</div>
		
			<div class="hu_food">
	
				<div class="hu_food_con">
					
					<div class="hu_person_box">
						<div>
							<p></p>
						</div>
						<div class="hu_touxiang">
							<img src="{IMG_PATH}/index/siren/touxiang.png" alt="" />
						</div>
						<div class="hu_name">
							<p>艾米•格林</p>
							<p>Amy Green</p>
						</div>
					</div>
					
					<div class="hu_text_box">
						<h2>健康身体从吃开始</h2>
						<p>Diet health</p>
						<h3>• 吃出你的魔鬼身材呦</h3>
						<!--<img src="{IMG_PATH}/index/siren/111.png" alt="" />							
						<span>EX.</span>
						<span>118</span>-->
					</div>
					
					<div class="hu_shuju_box">
						<div class="hu_cir">
							<canvas width="57" height="57"></canvas>
						</div>
						<br>
						<h3>• 2017.03.19</h3>
						<!--<div class="hu_join">
							<a href="">JOIN</a>
						</div>-->
					</div>
				</div>
			</div>
		<!--04 end-->
		</div>
	
	</div>
	</div>
	<!--完成任务结束-->
{include file="index/footer.html"}