body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,input{
   margin: 0;
   padding: 0;

}
ul{
	list-style: none;
}
img{
	border: 0;
	
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body{
	font-family: "微软雅黑","楷体";
}